// Variable overrides first
$primary: #214d7c;
$enable-shadows: true;
$prefix: "mo-";
$btn-border-radius:50px  ;

// Then import Bootstrap
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background-color: #F6F6F6;
    box-sizing: border-box;

}

.main {

    padding: 20px;
    margin: 20px;
    
}
.authority-tab {
    margin-top: 20px;
    margin-bottom: 30px;
    display: flex;
}
.nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #214d7c;
    color: #214d7c;
}
.nav-tabs .nav-link {
    color: #686666;
    box-sizing: border-box;
    font-size: 18px;
    font-weight: 600;
    padding: 10px 20px;
    &:hover {
        color: #214d7c;
    }
    &.active {
        color: #214d7c;
    }
}